bin
/.metadata
.settings
/jsettlers.graphics.androidui/gen
/jsettlers.graphics.androidui/build/.buildScripts
/.recommenders
/jsettlers.common/resources/cache
/jsettlers.main.android/gen/
/jsettlers.main.android/assets/*
