bin
gen
target
logs
.gradle

/.metadata
/.recommenders
.externalToolBuilders
.settings
.buildScripts
/jsettlers.main.android/assets/*

/jsettlers.common/resources/cache
/jsettlers.common/resources/images/*
!/jsettlers.common/resources/images/movables.txt
/jsettlers.common/resources/save
config.prp

/jsettlers.main.swing/*.log

#IDE Files
*.iml
*.ipr
*.iws
.idea
.project
.classpath
.settings
build/