bin
gen
target
logs

/.metadata
/.recommenders
.settings
.buildScripts
/jsettlers.main.android/assets/*

/jsettlers.common/resources/cache
/jsettlers.common/resources/images/*
!/jsettlers.common/resources/images/movables.txt
/jsettlers.common/resources/save

/jsettlers.main.swing/*.log

/jsettlers.tests/out
/jsettlers.common/resources/.jsettlers
